.component-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

button {
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
  min-width: 100;
  padding: 15px;
}
